<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fuel-up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}" href="css/theme.css"/>
</head>
<body role="document">

<div th:include="header :: navbar"></div>

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <p th:if="${param.error}" class="alert alert-error">Invalid username and password.</p>
        <p th:if="${param.logout}" class="alert">You have been logged out.</p>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Email" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-success" value="Sign In">Sign in</button>
        </form>
    </div>

    <div th:include="footer :: copy"></div>
</div>
<!-- /container -->

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>

</body>
</html>